<% include _partials/_head %>

<body>
  <main>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="main-grid accordion" id="accordionService">
					<h1 class="service" data-toggle="collapse" data-target="#deliveryContent" aria-expanded="false" aria-controls="deliveryContent">
						<div class="d-flex align-items-center justify-content-between">
							<span>Delivery Solutions </span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="24px" width="24px"><path fill="#fff" d="M9 19c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l5.3-5.3-5.3-5.3c-.4-.4-.4-1 0-1.4s1-.4 1.4 0l6 6c.4.4.4 1 0 1.4l-6 6c-.2.2-.4.3-.7.3z"/></svg>
						</div>
					
						<div id="deliveryContent" class=" pt-3">
							Tailored activities and services aimed at supporting and enabling customers’ supply chains. It involves planning, sourcing and delivering in a coordinated way. According to needs and requests, specific and modular solution packages are designed and delivered to further strengthen customers and partners operations on the ground.
						</div>
					</h1>
					
				<div class="sub-grid accordion collapse" id="deliveryContent" class="collapse pt-3" aria-labelledby="deliveryContent" data-parent="#deliveryContent">
					<h1 data-toggle="collapse" data-target="#networkOne" aria-expanded="false" aria-controls="networkOne">
						Network Management & Optimisation
						<div id="networkOne" class="collapse pt-3" aria-labelledby="networkOne" data-parent="#deliveryContent">
							Cross programme planning, design, implementation, control and optimisation of the operational network to maximize responsiveness, effectiveness and efficiency in all scenarios (emergency vs non-emergency). It includes the selection of the best delivery solutions mechanisms and the management of information, expertise, goods, facilities, logistics assets and staff, which enable operations, good flows and knowledge sharing. It also involves the identification of new business initiatives, process improvements, and technological innovations required to ensure continuity, operational and cost efficiency, effectiveness and sustainability of the delivery solutions.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#networkTwo" aria-expanded="false" aria-controls="networkTwo">
							Network Management
							<div id="networkTwo" class="collapse pt-3" aria-labelledby="networkTwo" data-parent="#deliveryContent">
									The cross-programme and cross-border planning, coordination, supervising, administering and monitoring of all operational resources, activities, partners and functional units that are involved in the provision of assistance. It allows all actors and stakeholders to work together, on shared platforms, in order to achieve defined objectives. It has great impact on the responsiveness, effectiveness and efficiency at any geographical level of the humanitarian response.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#networkThree" aria-expanded="false" aria-controls="networkThree">
								Planning & Coordination
								<div id="networkThree" class="collapse pt-3" aria-labelledby="networkThree"
								data-parent="#deliveryContent">
								The designing, implementation and integration of all activities, responsibilities and functions to ensure that the network’s resources are used most efficiently in pursuit of the specified objectives. It involves the selection of the appropriate delivery solutions and its implementation on the ground, the adequate management of staff, information systems, logistic facilities and assets, as well as the professional and reliable partner/customer relationship management. It also concerns the implementation of specific agreements and tools, in order to achieve a better and effective coordination among the different partners and stakeholders.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#crossborder" aria-expanded="false" aria-controls="crossborder">
								Cross-Border Management
								<div id="crossborder" class="collapse pt-3" aria-labelledby="crossborder"
								data-parent="#deliveryContent">
										Strategic work on harmonising cross-border policies for long-term efficiency gains, as well as a set of activities, infrastructures and flows that support the passage of freight across an international/regional border, ensuring the smooth and cost-effective transfer and delivery of humanitarian cargo. It involves the compliance with country-specific policies, procedures rules and regulations regarding the exported and imported cargo. It includes the customs clearance process through declaration, customs inspection and verification, cargo insurance control and the the ascertaining that WFP consignments have all the necessary documentation before dispatch to avoid delays during transit.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#opsMonitoring" aria-expanded="false" aria-controls="opsMonitoring">
								Operations Monitoring
								<div id="opsMonitoring" class="collapse pt-3" aria-labelledby="opsMonitoring"
								data-parent="#deliveryContent">
								The process of routinely gathering information on all aspects of the WFP operational network aimed at checking and evaluating how activities, partnerships, resources are progressing and in order to inform management decisions and strengthen accountability towards beneficiaries, partners, and internal staff.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#optmization" aria-expanded="false" aria-controls="optmization">
							Optimization
								<div id="optmization" class="collapse pt-3" aria-labelledby="optmization"
								data-parent="#deliveryContent">
									Any activity, process, or methodology aimed at reducing or eliminating time and resource wastage, unnecessary costs, bottlenecks, and mistakes while achieving the defined objective.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#innovation" aria-expanded="false" aria-controls="innovation">Optimization & Innovation
								<div id="innovation" class="collapse pt-3" aria-labelledby="innovation"
								data-parent="#deliveryContent">
										The design and implementation of any activity and/or process that increases and/or maximizes the responsiveness, efficiency and effectiveness of the operative network for the provision of humanitarian response . It includes introducing incremental improvements to sustain an existing product/service/network and the research and identification of new business initiatives that aid in effectively satisfying the needs of the customers/beneficiaries/partners.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#goods" aria-expanded="false" aria-controls="goods">Goods & Services Sourcing
						<div id="goods" class="collapse pt-3" aria-labelledby="goods"
						data-parent="#deliveryContent">
								Planning, execution, and control of acquisition, from any locations, of all the vital inputs required for customers to operate in all scenarios (Emergency vs Non-emergency). These include goods in all its forms (Food vs Humanitarian Relief Items) and types (Cash vs IK), as well as services (financial, retailer), and sourcing-related activities. It also includes the selection and contracting of partners, the definition of partners' evaluation criteria and scope of work, identification of suitable partners, procurement of all goods and services requested.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#foodSourcing" aria-expanded="false" aria-controls="foodSourcing">Food Sourcing
							<div id="foodSourcing" class="collapse pt-3" aria-labelledby="foodSourcing"
							data-parent="#deliveryContent">
									The identification and vetting of food suppliers, at local, regional and/or international level, according to specific agreed criteria and food specifications, and following a reliable and efficient process that makes the procurement operative. It involves food needs assessment, building of sourcing plans, conducting market research, identifying and evaluating suppliers, and selecting the most suitable and convenient for the specific and context-related objectives. 
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#commodities" aria-expanded="false" aria-controls="commodities">Commodities
								<div id="commodities" class="collapse pt-3" aria-labelledby="commodities"
								data-parent="#deliveryContent">
										 Food items that comply with WFP quality specifications and safety requirements and that are sourced locally, regionally or internationally, according to the market’s availability and beneficiaries'/partners' needs. They can be either raw agricultural commodities or processed commodities, provided that they are the forms that are sold or distributed for human consumption. 
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#nfiSourcing" aria-expanded="false" aria-controls="nfiSourcing">NFI Sourcing
							<div id="nfiSourcing" class="collapse pt-3" aria-labelledby="nfiSourcing"
							data-parent="#deliveryContent">
									The identification and vetting of NFIs suppliers, at local, regional and/or international level, according to specific agreed criteria and following a reliable and efficient process that makes the procurement more successful overall. It involves specific needs assessment and specification requests made by service recipient. This may include considerations regarding gender-related issues, in particular for hygiene kits, and remarks on culture, context and climate where NFIs will be delivered.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#logEquipment" aria-expanded="false" aria-controls="logEquipment">Logistics Support Equipment
								<div id="logEquipment" class="collapse pt-3" aria-labelledby="logEquipment"
								data-parent="#deliveryContent">
										Equipment, mobile and fixed, that is required to perform the logistics support functions.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#reliefItems" aria-expanded="false" aria-controls="reliefItems">Relief Items
								<div id="reliefItems" class="collapse pt-3" aria-labelledby="reliefItems"
								data-parent="#deliveryContent">
										Any non-food product, tool and utensil which contributes to the physical and/or psychological health and wellbeing of people affected by a deterioration in their environment which threatens their survival. Relief items vary according to culture and context and should correspond to the final users’ need and the climate conditions. They could cover several needs: hygiene, cooking, personal care, warming, shelter, health, education. 
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#itTelecom" aria-expanded="false" aria-controls="itTelecom">IT & Telecom Equipment
								<div id="itTelecom" class="collapse pt-3" aria-labelledby="itTelecom"
								data-parent="#deliveryContent">
										Hardware and Software related to the IT and Telecom requirements of the Humanitarian community.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#buildMaterials" aria-expanded="false" aria-controls="buildMaterials">Building Materials
								<div id="buildMaterials" class="collapse pt-3" aria-labelledby="buildMaterials"
								data-parent="#deliveryContent">
										Any material which can be used for a construction purpose. They can be divided into natural materials, such as clay, sand, wood, rock and man-made materials, e.g. concrete, plaster, stucco.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#fuel" aria-expanded="false" aria-controls="fuel">Fuel & Vehicles
								<div id="fuel" class="collapse pt-3" aria-labelledby="fuel"
								data-parent="#deliveryContent">
										Sourcing of fuel and vehicles that fleet units may need to operate in all scenarios and carry on transport activities.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#serviceSourcing" aria-expanded="false" aria-controls="serviceSourcing">Service Sourcing
							<div id="serviceSourcing" class="collapse pt-3" aria-labelledby="serviceSourcing"
							data-parent="#deliveryContent">
									 The identification and vetting of qualified service providers, at local, regional and/or international level, according to specific agreed criteria regarding service profile and features, and following a reliable and efficient process that makes the operations run smoothly. It involves specific needs assessment, which takes into account the required outcomes/results of the service and the context in which said service will be operated. 

							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#services" aria-expanded="false" aria-controls="services">Services
								<div id="services" class="collapse pt-3" aria-labelledby="services"
								data-parent="#deliveryContent">
										Sourcing of quantifiable services from commercial providers.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#deliveryDistribution" aria-expanded="false" aria-controls="deliveryDistribution">Delivery & Distribution
								<div id="deliveryDistribution" class="collapse pt-3" aria-labelledby="deliveryDistribution"
								data-parent="#deliveryContent">
										The excecution of services by WFP contracted suppliers at requested locations/ points in order to satisfy the needs of the customer, beneficiary or partner. It involves conveying goods from a source location to a predefined destination and their distribution at requested local points. These activities are carried out by WFP contracted service providers.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#goodsTransport" aria-expanded="false" aria-controls="goodsTransport">Goods Transport
						<div id="goodsTransport" class="collapse pt-3" aria-labelledby="goodsTransport"
						data-parent="#deliveryContent">
								The planning, execution and monitoring of goods transport realised by ocean, air and land, and all related activities aimed at facilitating the movement of supplies in a reliable and safe manner, on time, cost effectively and efficiently to its destination. This may be from points of manufacture, storage or pre-positioning, to points of processing, distribution and/or delivery. If the source and destination are not in the same country, international goods transport solutions will be put in place. Goods transport services include also the planning and implementation of specialized transport solutions, designed for specific emergency response needs, to leverage the coordination and sharing of assets and for moving temperature sensitive goods. 
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#transportSolutions" aria-expanded="false" aria-controls="transportSolutions">Transport Solutions
							<div id="transportSolutions" class="collapse pt-3" aria-labelledby="transportSolutions"
							data-parent="#deliveryContent">
									 A wide range of modes through which goods are conveyed from one location to another. The movement of goods can be done through land, air and water transport. Transport solutions involve the protection of commodities while they are in transit and the switching from one mean to another (intermodal transport). The overall aim of a transport solution is reaching the right balance between cost efficiency and improved transit times. 
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#airTransport" aria-expanded="false" aria-controls="airTransport">Air Transport
								<div id="airTransport" class="collapse pt-3" aria-labelledby="airTransport"
								data-parent="#deliveryContent">
										Effective and cost-efficient airlift, airfreight and air drops providing access for humanitarian cargo into some of the world's most hostile and challenging places, or to remote areas.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#landsideTransport" aria-expanded="false" aria-controls="landsideTransport">Landside Transport
								<div id="landsideTransport" class="collapse pt-3" aria-labelledby="landsideTransport"
								data-parent="#deliveryContent">
										An intricate network of road, rail and other means in order to deliver food, goods and any other humanitarian cargo to some of the most remote and inaccessible areas of the world. Activities are contracted through local commercial markets, directly supporting the development of the private sector and benefiting local economies in more than 70 countries. It includes a dedicated Global Fleet  in charge of managing more than 750 heavy-duty trucks to be used upon request during emergencies in difficult operational environments, and positioning these special trucks in strategically located fleet hubs around the globe. 
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#waterTransport" aria-expanded="false" aria-controls="waterTransport">Water Transport
								<div id="waterTransport" class="collapse pt-3" aria-labelledby="waterTransport"
								data-parent="#deliveryContent">
										Comprehensive shipping solutions, such as chartering landing craft, heavy lift ships, supply vessels for the movement of humanitarian staff workers and a variety of non-food items. It involves a careful planning, contracting and coordination to ensure the quickest and cost-effective ocean transportation solution.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#specialized" aria-expanded="false" aria-controls="specialized">Specialized Transport Solutions
							<div id="specialized" class="collapse pt-3" aria-labelledby="specialized"
							data-parent="#deliveryContent">
									Planning and implementation of specialized transport services, designed for specific response needs, to leverage the coordination and sharing of assets and for moving goods that are sensitive to temperatures and climate conditions. Perishable products may include pharmaceutical items, food, laboratory samples. 
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#cargoConsolidation" aria-expanded="false" aria-controls="cargoConsolidation">Cargo Consolidation
								<div id="cargoConsolidation" class="collapse pt-3" aria-labelledby="cargoConsolidation"
								data-parent="#deliveryContent">
										The aggregation of multiple smaller shipments into a single larger shipment in order to maximise efficiencies.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#tempControl" aria-expanded="false" aria-controls="tempControl">Temperature Controlled Transport
								<div id="tempControl" class="collapse pt-3" aria-labelledby="tempControl"
								data-parent="#deliveryContent">
										Solutions for transporting time and temperature sensitive goods in order to maintain these products with a pre-defined operating temperature range.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#passengerControl" aria-expanded="false" aria-controls="passengerControl">Passenger Transport
						<div id="passengerControl" class="collapse pt-3" aria-labelledby="passengerControl"
						data-parent="#deliveryContent">
								Planning, execution, and control of the transport of passengers and related operations.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#passengerTransport" aria-expanded="false" aria-controls="passengerTransport">Air Passenger Transport
							<div id="passengerTransport" class="collapse pt-3" aria-labelledby="passengerTransport"
							data-parent="#deliveryContent">
									The safe, reliable, cost-efficient and effective passenger and light cargo transport by air to and from areas of crisis and intervention.

							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#generalAviation" aria-expanded="false" aria-controls="generalAviation">General Aviation
								<div id="generalAviation" class="collapse pt-3" aria-labelledby="generalAviation"
								data-parent="#deliveryContent">
										The air passenger transport service operated on an ad hoc basis according to any special requirements or specific circumstances, as medical or security evacuations, special flights, passenger charters for delegations. In these cases, the service supersedes any previously scheduled flight.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#scheduledAir" aria-expanded="false" aria-controls="scheduledAir">Scheduled Air Transport
								<div id="scheduledAir" class="collapse pt-3" aria-labelledby="scheduledAir"
								data-parent="#deliveryContent">
										Air transport service intended for the use of the humanitarian community engaged in relief operations. The service offers timely, effective and cost-efficient passenger and light cargo transport. It includes planning and putting in place if necessary all the measures to mitigate the risks and assure a safe air transport for the crew and the passengers.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#seaTransport1" aria-expanded="false" aria-controls="seaTransport1">Sea Passenger Transport
							<div id="seaTransport1" class="collapse pt-3" aria-labelledby="seaTransport1"
							data-parent="#deliveryContent">
									Any movement of passengers using seagoing vessels on voyages which are undertaken wholly or partly at sea.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#seaTransport2" aria-expanded="false" aria-controls="seaTransport2">Sea Passenger Transport
								<div id="seaTransport2" class="collapse pt-3" aria-labelledby="seaTransport2"
								data-parent="#deliveryContent">
										Passenger transport & evacuation capability to support the humanitarian community. It involves any passenger movements made by sea.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#storage" aria-expanded="false" aria-controls="storage">Storage
						<div id="storage" class="collapse pt-3" aria-labelledby="storage"
						data-parent="#deliveryContent">
								Storing and assorting goods for preserving and protecting them from the time of their production, purchase, or delivery until final use. It includes the short, medium or long-term containment, holding, leaving and placement of goods and/or materials, usually with the intention of retrieving and using them at later time. It involves the protection from weather and from destructive animals like rodents and insects, as well as security from theft. Storage facilities are tailored to the needs of accessibility, security, and climate conditions.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#portOperations" aria-expanded="false" aria-controls="portOperations">Port Operations
							<div id="portOperations" class="collapse pt-3" aria-labelledby="portOperations"
							data-parent="#deliveryContent">
									Port Operations involves the planning, execution, control, clearing and forwarding of cargo, fast vessel berthing and stevedoring operations to ensure that the requested cargo reaches the end customer/beneficiary in order to satisfy their needs. It includes coordinating, liaising and negotiating with local port authorities and government officials and involves keeping track of lead times, oversee dispatches of food cargo and stock updating.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#portOperations2" aria-expanded="false" aria-controls="portOperations2">Port Operations
								<div id="portOperations2" class="collapse pt-3" aria-labelledby="portOperations2"
								data-parent="#deliveryContent">
										Operational services carried out within the port area aimed at ensuring a quick management of commodities and their routing towards final users.They include cargo Loading & Off-Loading, Storage & Handling, Container Terminal Operations, Dredging, Dry Dock, Equipment Cleaning & Maintenance, Fueling and Harbor Craft, Fumigation Practices, customs clearance, priority vessel berthing and stevedoring, warehouse inspection and monitoring.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#storageStock" aria-expanded="false" aria-controls="storageStock">Storage & Stock Management
							<div id="storageStock" class="collapse pt-3" aria-labelledby="storageStock"
							data-parent="#deliveryContent">
									Storage involves the temporary placement and management of goods in warehouses pending subsequent distribution or shipment. Stock Management is a set of activities to keep track of stored goods, ensuiring their integrity and subsequent utilization. It helps supervising the flow of goods to and from the warehouse and their conditions.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#storage2" aria-expanded="false" aria-controls="storage2">Storage
								<div id="storage2" class="collapse pt-3" aria-labelledby="storage2"
								data-parent="#deliveryContent">
										The storage of food or non-food items pending subsequent distribution or shipment.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#inventoryManagement" aria-expanded="false" aria-controls="inventoryManagement">Inventory Management
								<div id="inventoryManagement" class="collapse pt-3" aria-labelledby="inventoryManagement"
								data-parent="#deliveryContent">
										Ensure the integrity and accountability of goods in a warehouse when received, stored and dispatched.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#tempControlStorage" aria-expanded="false" aria-controls="tempControlStorage">Temperature Controlled Storage
								<div id="tempControlStorage" class="collapse pt-3" aria-labelledby="tempControlStorage"
								data-parent="#deliveryContent">
										Storage of time and temperature sensitive goods in order to maintain these products with a pre-defined operating temperature range.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#goodsProcessing" aria-expanded="false" aria-controls="goodsProcessing">Goods Processing
							<div id="goodsProcessing" class="collapse pt-3" aria-labelledby="goodsProcessing"
							data-parent="#deliveryContent">
									The physical manipulation and movement of goods. It includes the series of operations that transforms goods from a raw-material state into finished parts or products; the repackaging of cargo to prevent potential losses and the grouping of different commodies.

							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#goodsHandling" aria-expanded="false" aria-controls="goodsHandling">Goods Handling
								<div id="goodsHandling" class="collapse pt-3" aria-labelledby="goodsHandling"
								data-parent="#deliveryContent">
										Goods handling is a set of activities dealing with the movement, storage and control of goods and products. It includes the loading/offloading of commodities and NFIs, the repackaging in case of damage, inventory check and update, adjusting and inspecting goods storage conditions.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#foodProcessing" aria-expanded="false" aria-controls="foodProcessing">Food Processing
								<div id="foodProcessing" class="collapse pt-3" aria-labelledby="foodProcessing"
								data-parent="#deliveryContent">
										Food processing is a variety of operations, methods and techniques by which raw ingredients and foodstuffs are made suitable for consumption, cooking or storage. It includes the preservation, the protection from pathogenic microbes and toxic substances, the packaging and distribution.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#safetyQuality" aria-expanded="false" aria-controls="safetyQuality">Safety & Quality
						<div id="safetyQuality" class="collapse pt-3" aria-labelledby="safetyQuality"
						data-parent="#deliveryContent"> 
								Enhancement, development or adoption of quality and safety management systems aimed at reducing and preventing safety and quality issues along the supply chain, from the farmers/suppliers to the beneficiaries/consumers. It includes formalised system that documents processes, procedures, and responsibilities for achieving quality policies and objectives and that supports coordinatation of activities to meet customer and regulatory requirements and improve its effectiveness and efficiency on a continuous basis.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#aviationSafety" aria-expanded="false" aria-controls="aviationSafety">Aviation Safety Promotion
							<div id="aviationSafety" class="collapse pt-3" aria-labelledby="aviationSafety"
							data-parent="#deliveryContent">
									Develop, sustain and improve aviation safety in order to reduce risks associated with air operation and have safe and reliable passenger and cargo services in the event of humanitarian crises. Safety promotion includes the development of products and actions such as reports and technical publications, bulletins, leaflets and posters, audio-visual material, toolkits, manuals and guides, social media and e-applications, and also conferences, safety events, roadshows and campaigns.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#aviationSafety2" aria-expanded="false" aria-controls="aviationSafety2">Aviation Safety Promotion
								<div id="aviationSafety2" class="collapse pt-3" aria-labelledby="aviationSafety2"
								data-parent="#deliveryContent">
										Develop, sustain and improve aviation safety in order to reduce risks associated with air operation and have safe and reliable passenger and cargo services in the event of humanitarian crises. Safety promotion includes the development of products and actions such as reports and technical publications, bulletins, leaflets and posters, audio-visual material, toolkits, manuals and guides, social media and e-applications, and also conferences, safety events, roadshows and campaigns.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#foodSQ" aria-expanded="false" aria-controls="foodSQ">Food S&Q
							<div id="foodSQ" class="collapse pt-3" aria-labelledby="foodSQ"
							data-parent="#deliveryContent">
									Ensure access to safe, high-quality and nutritious foods and mitigate risks of unsafe food consumption. It involves joint WFP internal and external partners work in strengthening quality management systems across the supply chain and it unfolds at national, regional and international level. It includes Food S&Q audits and assessments of Food S&Q.

							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#foodSQControl" aria-expanded="false" aria-controls="foodSQControl">Food S&Q Control
								<div id="foodSQControl" class="collapse pt-3" aria-labelledby="foodSQControl"
								data-parent="#deliveryContent">
										The implementation of the Food Quality Management System that aims at protecting the health of beneficiaries/partners, satisfying beneficiaries’/partners ' expectations and host government regulations, avoiding damage to WFP’s or donors’ reputations, and reducing pipeline breaks and financial losses. It reduces and prevents issues along the supply chain, from the farmers/suppliers to the beneficiaries. The system ensures the safety, nutritional quality and acceptability of the delivered foods and acceptability by customers.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#pestManagement" aria-expanded="false" aria-controls="pestManagement">Pest Management
								<div id="pestManagement" class="collapse pt-3" aria-labelledby="pestManagement"
								data-parent="#deliveryContent">
										Reduce and control pest infestation of any stored or transported food and NFIs commodity. It includes the assessment and treatment of the infestation through inspection, detection, evaluation and use of fumigants if necessary.
								</div>
							</h3>
						<h2 data-toggle="collapse" data-target="#riskManagement" aria-expanded="false" aria-controls="riskManagement">Risk Management
							<div id="riskManagement" class="collapse pt-3" aria-labelledby="riskManagement"
							data-parent="#deliveryContent">
									Risk management is the process of identifying, assessing, controlling and mitigating threats/risks to WFP’s resources, activities and networks. It is linked to safety and quality standards and criteria and represents an integral part of decision making. Its main goals are to minimise the likelihood of events that have negative impact; to enhance and further support the reaching of defined objectives, outcomes, results; to manage resources effectively and efficiently; to strengthen WFP reputation and accountability.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#goodsInsurance" aria-expanded="false" aria-controls="goodsInsurance">Goods Insurance
								<div id="goodsInsurance" class="collapse pt-3" aria-labelledby="goodsInsurance"
								data-parent="#deliveryContent">
										The prevention of potential perils, physical damages or losses, that may take place during the procurement, transportation and delivery of cargo from the point of origin to the partner and final recipient. It requires the adoption of specific policies acquired through contracted commercial insurance companies.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#technicalAssist" aria-expanded="false" aria-controls="technicalAssist">Technical Assistance
						<div id="technicalAssist" class="collapse pt-3" aria-labelledby="technicalAssist"
						data-parent="#deliveryContent">
								Development and delivery of support packages on operational processes and technologies including assistance to customers, partners and to beneficiaries to address technical questions or solve operational problems during the day-to-day activities. It includes rapid (24-48 hours) deployment of trained expert(s) to provide technical assistance and on-the-job technical training to customers including equipment installation and management as well as emergency response operational management activities.

						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#technicalAssist2" aria-expanded="false" aria-controls="technicalAssist2">Technical Assistance
							<div id="technicalAssist2" class="collapse pt-3" aria-labelledby="technicalAssist2"
							data-parent="#deliveryContent">
									Development and delivery of support packages on operational processes and technologies including assistance to customers, partners and to beneficiaries to address technical questions or solve operational problems during the day-to-day activities. It includes rapid (24-48 hours) deployment of trained expert(s) to provide technical assistance and on-the-job technical training to customers including equipment installation and management as well as emergency response operational management activities.
							</div>
						</h2>
							
						
							<h3 data-toggle="collapse" data-target="#logSolutions" aria-expanded="false" aria-controls="logSolutions">Logistics Solutions
								<div id="logSolutions" class="collapse pt-3" aria-labelledby="logSolutions"
								data-parent="#deliveryContent">
										Technical support on planning, tracking, SC diagnostics and optimization using various SC tools. This includes the Rapid Response Team (RRT) which is available for immediate deployment upon request to provide technical assistance and that offers technical assistance as well as training in areas such as camp installation, airport operations and warehouse management.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#workshop" aria-expanded="false" aria-controls="workshop">Workshop & Maintenance
						<div id="workshop" class="collapse pt-3" aria-labelledby="workshop"
						data-parent="#deliveryContent">
								Supply of vehicle workshop assistance as well as vehicle and power generator maintenance to Customers.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#workshop2" aria-expanded="false" aria-controls="workshop2">Workshop & Maintenance
							<div id="workshop2" class="collapse pt-3" aria-labelledby="workshop2"
							data-parent="#deliveryContent">
									The provision of diagnostic services as well as maintenance and repairing assistance and the delivery of technical workshops and hands-on teaching on light vehicles, fleet management, and power generators.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#workshop3" aria-expanded="false" aria-controls="workshop3">Workshop & Maintenance
								<div id="workshop3" class="collapse pt-3" aria-labelledby="workshop3"
								data-parent="#deliveryContent">
										The provision of diagnostic services as well as maintenance and repairing assistance and the delivery of technical workshops and hands-on teaching on light vehicles, fleet management, and power generators.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#facilityRental" aria-expanded="false" aria-controls="facilityRental">Facility & Equipment Rental
						<div id="facilityRental" class="collapse pt-3" aria-labelledby="facilityRental"
						data-parent="#deliveryContent">
								Rental of machinery, tools, building installations, equipment or other property to Customers.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#facilityRental2" aria-expanded="false" aria-controls="facilityRental2">Facility & Equipment Rental
							<div id="facilityRental2" class="collapse pt-3" aria-labelledby="facilityRental2"
							data-parent="#deliveryContent">
									Provision of logistic facilities and equipment for a limited period of time to customers.

							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#facilityRental3" aria-expanded="false" aria-controls="facilityRental3">Logistics Facility Rental
								<div id="facilityRental3" class="collapse pt-3" aria-labelledby="facilityRental3"
								data-parent="#deliveryContent">
										Rental of storage space within a Warehouse owned or contracted by WFP for a specified duration.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#equipmentRental" aria-expanded="false" aria-controls="equipmentRental">Equipment Rental
								<div id="equipmentRental" class="collapse pt-3" aria-labelledby="equipmentRental"
								data-parent="#deliveryContent">
										Provision of machinery, equipment and tools for a limited period of time to customers.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#products" aria-expanded="false" aria-controls="products">Products R&D
						<div id="products" class="collapse pt-3" aria-labelledby="products"
						data-parent="#deliveryContent">
								Assistance in the definition and development of manufacturing processes and products for humanitarian as well as general market needs. Product development involves modification of existing products, or formulation of entirely new products. It also includes research, review, optimization and testing of relief items and support equipment used in humanitarian settings, as well as the development of innovative products for humanitarian operations.

						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#foodRD" aria-expanded="false" aria-controls="foodRD">Food R&D
							<div id="foodRD" class="collapse pt-3" aria-labelledby="foodRD"
							data-parent="#deliveryContent">
									Combination of both basic and applied research aimed at developing new food products through new technologies and/or maintaining and gradually improving existing ones. Some specific aims of Food R&D are to: reduce costs; enhance nutritional value to provide for dietary needs; improve food safety; add convenience; sustain and strengthen local markets and offer greater choices of food items to final users.
							</div>
						</h2>
						<h3 data-toggle="collapse" data-target="#foodRD2" aria-expanded="false" aria-controls="foodRD2">Food R&D
							<div id="foodRD2" class="collapse pt-3" aria-labelledby="foodRD2"
							data-parent="#deliveryContent">
							Combination of both basic and applied research aimed at developing new food products through new technologies and/or maintaining and gradually improving existing ones. Some specific aims of Food R&D are to: reduce costs; enhance nutritional value to provide for dietary needs; improve food safety; add convenience; sustain and strengthen local markets and offer greater choices of food items to final users.
							</div>
						</h3>
						<h2 data-toggle="collapse" data-target="#humanitarianRD" aria-expanded="false" aria-controls="humanitarianRD">Humanitarian / Relief Item R&D
							<div id="humanitarianRD" class="collapse pt-3" aria-labelledby="humanitarianRD"
							data-parent="#deliveryContent">
									Research and development activities aimed at reviewing, testing and helping design and develop innovative products for humanitarian operations. It involves providing partners with the best specifications for field items that incorporate new and green technologies, user-friendly parts, context-specific solutions.
							</div>
						</h2>
						<h3 data-toggle="collapse" data-target="#humanitarianRD2" aria-expanded="false" aria-controls="humanitarianRD2">Humanitarian / Relief Item R&D
							<div id="humanitarianRD2" class="collapse pt-3" aria-labelledby="humanitarianRD2"
							data-parent="#deliveryContent">
							Research and development activities aimed at reviewing, testing and helping design and develop innovative products for humanitarian operations. It involves providing partners with the best specifications for field items that incorporate new and green technologies, user-friendly parts, context-specific solutions.
							</div>
						</h3>
					<h1 data-toggle="collapse" data-target="#dataSharing" aria-expanded="false" aria-controls="dataSharing">Data-Sharing Platform
						<div id="dataSharing" class="collapse pt-3" aria-labelledby="dataSharing"
						data-parent="#deliveryContent">
								A data-sharing platform is a business solution where WFP can share various types of data with other organisations/customers. This includes processed data related to strategic and operational activities.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#dataSharing2" aria-expanded="false" aria-controls="dataSharing2">Data-Sharing Platform
							<div id="dataSharing2" class="collapse pt-3" aria-labelledby="dataSharing2"
							data-parent="#deliveryContent">
									Provide users with consistent, accurate and timely data. It collects structured and unstructured data from a range of internal and external sources in order to integrate, harmonize, store them and make that data available for the WFP staff, partners, organizations, beneficiaries. It provides important insight to data-driven parts of humanitarian operations.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#dataSharing3" aria-expanded="false" aria-controls="dataSharing3">Data-Sharing Platform
								<div id="dataSharing3" class="collapse pt-3" aria-labelledby="dataSharing3"
								data-parent="#deliveryContent">
										Provide users with consistent, accurate and timely data. It collects structured and unstructured data from a range of internal and external sources in order to integrate, harmonize, store them and make that data available for the WFP staff, partners, organizations, beneficiaries. It provides important insight to data-driven parts of humanitarian operations.
								</div>
							</h3>
					<h1 data-toggle="collapse" data-target="#opTransfer" aria-expanded="false" aria-controls="opTransfer">Operational Know-How Transfer
						<div id="opTransfer" class="collapse pt-3" aria-labelledby="opTransfer"
						data-parent="#deliveryContent">
								Development of know-how transfer plans and materials, and their delivery in different modalities to enhance the Supply Chain and operational practices and know-how. It also includes know-how transfer monitoring, evaluation, and effectiveness assessment as well as assistance in the development of knowledge transfer enabling tools, e.g. academies, skill centres, and rosters, to address specific Supply Chain and operational knowledge gaps.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#opTransfer2" aria-expanded="false" aria-controls="opTransfer2">Operational Know-how Transfer
							<div id="opTransfer2" class="collapse pt-3" aria-labelledby="opTransfer2"
							data-parent="#deliveryContent">
									Capturing, organizing and formalizing technical and operational knowledge in order to spread it through different modalities, as official document, simulations, on-the-job teachings, group discussions, technology-based learning.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#opTransfer3" aria-expanded="false" aria-controls="opTransfer3">EPR Know-how Transfer
								<div id="opTransfer3" class="collapse pt-3" aria-labelledby="opTransfer3"
								data-parent="#deliveryContent">
										A variety of activities and methods used to organize and spread EPR-related know-how and ensure its availability for staff members and network’s partners.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#opTransfer4" aria-expanded="false" aria-controls="opTransfer4">Food S&Q Know-how Transfer
								<div id="opTransfer4" class="collapse pt-3" aria-labelledby="opTransfer4"
								data-parent="#deliveryContent">
										A variety of activities and methods used to organize and spread Food S&Q-related know-how and ensure its availability for staff members and network’s partners.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#opTransfer5" aria-expanded="false" aria-controls="opTransfer5">Procurement Know-how Transfer
								<div id="opTransfer5" class="collapse pt-3" aria-labelledby="opTransfer5"
								data-parent="#deliveryContent">
								A variety of activities and methods used to organize and spread Procurement-related know-how and ensure its availability for staff members and network’s partners.
							</div>
									
							</h3>
							<h3 data-toggle="collapse" data-target="#logTransfer" aria-expanded="false" aria-controls="logTransfer">Logistics Know-how Transfer
								<div id="logTransfer" class="collapse pt-3" aria-labelledby="logTransfer"
								data-parent="#deliveryContent">
										A variety of activities and methods used to organize and spread Supply Chain related know-how and ensure its availability for staff members and network’s partners.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#itTransfer" aria-expanded="false" aria-controls="itTransfer">IT & Telecom Know-How Transfer
								<div id="itTransfer" class="collapse pt-3" aria-labelledby="itTransfer"
								data-parent="#deliveryContent">
										A variety of activities and methods used to organize and spread fleet management related know-how and ensure its availability for staff members and network’s partners. In includes support resilience-building and preparedness initiatives, including technical training courses, exercises and simulations
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#fleetTransfer" aria-expanded="false" aria-controls="fleetTransfer">Fleet Management Know-How Transfer
								<div id="fleetTransfer" class="collapse pt-3" aria-labelledby="fleetTransfer"
								data-parent="#deliveryContent">
										A variety of activities and methods used to organize and spread fleet management related know-how and ensure its availability for staff members and network’s partners.
								</div>
							</h3>
							<h3 data-toggle="collapse" data-target="#driverTransfer" aria-expanded="false" aria-controls="driverTransfer">Driver Know-How Transfer
								<div id="driverTransfer" class="collapse pt-3" aria-labelledby="driverTransfer"
								data-parent="#deliveryContent">
										A variety of activities and methods used to organize and spread Driver-related know-how and ensure its availability for staff members and network’s partners.
								</div>
							</h3>
				</div>

							<h1 class="service disabled" data-toggle="collapse" data-target="#nationalFood" aria-expanded="false" aria-controls="nationalFood">
								Enhancement of National Food Systems
							</h1>

							<h1 class="service disabled" data-toggle="collapse" data-target="#emergencyPrep" aria-expanded="false" aria-controls="emergencyPrep">
								Emergency Preparedness & Response
							</h1>

							<h1 class="service disabled" data-toggle="collapse" data-target="#cashAsssistance" aria-expanded="false" aria-controls="cashAsssistance">
								Cash Assistance
							</h1>

							<h1 class="service disabled" data-toggle="collapse" data-target="#foodAsssistance" aria-expanded="false" aria-controls="foodAsssistance">
								Food Assistance
							</h1>
				</div>
			</div>
		</div>
	</div>
	
  </main>

  <% include _partials/_footer %>
