<% include _partials/_head %>

<body>
  <main>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="main-grid accordion" id="accordionService">
					<h1 data-toggle="collapse" data-target="#deliveryOne" aria-expanded="false" aria-controls="deliveryOne">
						Delivery Solutions
					
						<div id="deliveryOne" class="collapse pt-3" aria-labelledby="deliveryOne" data-parent="#accordionService">
							Tailored activities and services aimed at supporting and enabling customers’ supply chains. It involves planning, sourcing and delivering in a coordinated way. According to needs and requests, specific and modular solution packages are designed and delivered to further strengthen customers and partners operations on the ground.
						</div>
					</h1>
					
					<h1 data-toggle="collapse" data-target="#networkOne" aria-expanded="false" aria-controls="networkOne">
						Network Management & Optimisation
						<div id="networkOne" class="collapse pt-3" aria-labelledby="networkOne" data-parent="#accordionService">
							Cross programme planning, design, implementation, control and optimisation of the operational network to maximize responsiveness, effectiveness and efficiency in all scenarios (emergency vs non-emergency). It includes the selection of the best delivery solutions mechanisms and the management of information, expertise, goods, facilities, logistics assets and staff, which enable operations, good flows and knowledge sharing. It also involves the identification of new business initiatives, process improvements, and technological innovations required to ensure continuity, operational and cost efficiency, effectiveness and sustainability of the delivery solutions.
						</div>
					</h1>
						<h2 data-toggle="collapse" data-target="#networkTwo" aria-expanded="false" aria-controls="networkTwo">
							Network Management
							<div id="networkTwo" class="collapse pt-3" aria-labelledby="networkTwo" data-parent="#accordionService">
									The cross-programme and cross-border planning, coordination, supervising, administering and monitoring of all operational resources, activities, partners and functional units that are involved in the provision of assistance. It allows all actors and stakeholders to work together, on shared platforms, in order to achieve defined objectives. It has great impact on the responsiveness, effectiveness and efficiency at any geographical level of the humanitarian response.
							</div>
						</h2>
							<h3 data-toggle="collapse" data-target="#networkThree" aria-expanded="false" aria-controls="networkThree">
								Planning & Coordination
								<div id="networkThree" class="collapse pt-3" aria-labelledby="networkThree"
								data-parent="#accordionService">
								The designing, implementation and integration of all activities, responsibilities and functions to ensure that the network’s resources are used most efficiently in pursuit of the specified objectives. It involves the selection of the appropriate delivery solutions and its implementation on the ground, the adequate management of staff, information systems, logistic facilities and assets, as well as the professional and reliable partner/customer relationship management. It also concerns the implementation of specific agreements and tools, in order to achieve a better and effective coordination among the different partners and stakeholders.
								</div>
							</h3>
							<h3>Cross-Border Management</h3>
							<h3>Operations Monitoring</h3>
						<h2>Optimisation</h2>
							<h3>Optimization & Innovation</h3>
					<h1>Goods & Services Sourcing</h1>
						<h2>Food Sourcing</h2>
							<h3>Commodities</h3>
						<h2>NFI Sourcing</h2>
							<h3>Logistics Support Equipment</h3>
							<h3>Relief Items</h3>
							<h3>IT & Telecom Equipment</h3>
							<h3>Building Materials</h3>
							<h3>Fuel & Vehicles</h3>
						<h2>Service Sourcing</h2>
							<h3>Services</h3>
							<h3>Delivery & Distribution</h3>
					<h1>Goods Transport</h1>
						<h2>Transport Solutions</h2>
							<h3>Air Transport</h3>
							<h3>Landside Transport</h3>
							<h3>Water Transport</h3>
						<h2>Specialized Transport Solutions</h2>
							<h3>Cargo Consolidation</h3>
							<h3>Temperature Controlled Transport</h3>
					<h1>Passenger Transport</h1>
						<h2>Air Passenger Transport</h2>
							<h3>General Aviation</h3>
							<h3>Scheduled Air Transport</h3>
						<h2>Sea Passenger Transport</h2>
							<h3>Sea Passenger Transport</h3>
					<h1>Storage</h1>
						<h2>Port Operations</h2>
							<h3>Port Operations</h3>
						<h2>Storage & Stock Management</h2>
							<h3>Storage</h3>
							<h3>Inventory Management</h3>
							<h3>Temperature Controlled Storage</h3>
						<h2>Goods Processing</h2>
							<h3>Goods Handling</h3>
							<h3>Food Processing</h3>
					<h1>Safety & Quality</h1>
						<h2>Aviation Safety Promotion</h2>
							<h3>Aviation Safety Promotion</h3>
						<h2>Food S&Q</h2>
							<h3>Food S&Q Control</h3>
							<h3>Pest Management</h3>
						<h2>Risk Management</h2>
							<h3>Goods Insurance</h3>
					<h1>Technical Assistance</h1>
						<h2>Techincal Assistance</h2>
							<h3>Administrative Solutions</h3>
							<h3>Engineering Solutions</h3>
							<h3>Financial Solutions</h3>
							<h3>HR Solutions</h3>
							<h3>IT & Telecoms Solutions</h3>
							<h3>Logistics Solutions</h3>
					<h1>Workshop & Maintenance</h1>
						<h2>Workshop & Maintenance</h2>
							<h3>Workshop & Maintenance</h3>
					<h1>Facility & Equipment Rental</h1>
						<h2>Facility & Equipment Rental</h2>
							<h3>Logistics Facility Rental</h3>
							<h3>Equipment Rental</h3>
					<h1>Products R&D</h1>
						<h2>Food R&D</h2>
						<h2>Humanitarian / Relief Item R&D</h2>
					<h1>Data-Sharing Platform</h1>
						<h2>Data-Sharing Platform</h2>
							<h3>Data-Sharing Platform</h3>
					<h1>Operational Know-How Transfer</h1>
						<h2>Operational Know-how Transfer</h2>
							<h3>EPR Know-how Transfer</h3>
							<h3>Food S&Q Know-how Transfer</h3>
							<h3>Procurement Know-how Transfer</h3>
							<h3>Logistics Know-how Transfer</h3>
							<h3>IT & Telecom Know-How Transfer</h3>
							<h3>Fleet Management Know-How Transfer</h3>
							<h3>Driver Know-How Transfer</h3>
				</div>
			</div>
		</div>
	</div>
	
  </main>

  <% include _partials/_footer %>
